.spacer {
  height: 100px;
}

.breast-marker {
  position: absolute;
  width: 90%;
  height: 300px;
  left: 17px;
  top: 10px;
}

.breast-question {
  color: #A8287A;
}

.swiper-pagination-progress .swiper-pagination-progressbar {
  background: #7f1e5c;
}
