ion-slide {
  position: absolute;
  top: 30%;
  transform: translate(-50%, -50%);
}

ion-slide {
  color: #7f1e5c;
}

.swiper-pagination-progress .swiper-pagination-progressbar {
  background: #7f1e5c;
}
